.container--email-sent{
    display: grid;
    place-items: center;
    width: 100%;
    gap: 12px;
    margin-top: 25px;
}

.container--email-sent img{
    width: 300px
}

.container--email-sent button {
    margin-top: 25px;
}

@media (max-height: 690px){
    .container--email-sent img{
        width: 220px;
    }
}

@media (max-width: 400px){
    .container--email-sent img{
        width: 150px;
    }
}