.heading--read-more-shopi {
	font-weight: 700;
	font-size: 32px;
  }

.para--read-more-shopi {
	line-height: 1.5;
  }

  @media (max-width: 880px) {

	.container-text--read-more-shopi{
		height: 80%;
		overflow: auto;
		overscroll-behavior-y: contain;
	  }
	
}

@media (max-width: 400px) {

	.container-text--read-more-shopi{
		height: 70%;
	  }
	
}