:root{
  --black:#000000;
  --white: #FFFFFF;

  /* light mode*/
    --color-one: #A0D2EB;
    --color-two: #E6EAF3;
    --color-three: #D0BDF4;
    --color-fuor: #8559B1;
    --color-five: #4A4D60;

  /*dark mode*/  
    --color-dark-one: #D4DFE1;
    --color-dark-two: #B6C4C7;
    --color-dark-three: #67797b;
    --color-dark-fuor: #054342;
    --color-dark-five: #052011;

    --sm: 14px;
    --md: 25px;
    --lg: 45px;
  }

*{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Anek Devanagari', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.buttons {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  background-color: var(--color-one);
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 0;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px var(--color-two);
  cursor: pointer;
}

.buttons a{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
  
}  
.buttons::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}   
.buttons:hover::before {
  width: 9em;
} 