.project-container--shopi{
    width: 100%;
    height: 100%;
    
    background-image: linear-gradient(135deg
    ,#A0D2EB, #E6EAF3, #D0BDF4, #8559B1);
    background-size: 500%;
    animation: animatedBackground 10s infinite;
}
.project-container--shopi h1{

    font-size: 50px;
    display: flex;
    justify-content: center;
}

.section--shopi{
    width: 100%;
    height: 700px;
  
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

}


.both h1{
    font-weight: 700;
    font-size: 45px;
    margin-top: 25px; 
}
.both{
    display: grid;
    place-items: center;
    align-content: space-evenly;
    padding: 25px 10px;
}


.right-container--shopi h2{
    font-weight: 500;
    font-size: 35px;
    padding: 0 25px;
    text-align: center;
}
.svg-ir--shopi{
    height: 400px;
    padding: 0;
}

.left-container--shopi{
    text-align: center;
}
.left-container--shopi h2{
    font-weight: 500;
    font-size: 35px;
}
.left-container--shopi p{
    font-weight: 300;
    font-size: 25px;
    padding: 0 25px;

}



.img-container--shopi{
    display: grid;
    place-items: center;
    justify-content: center;
}
.img-container--shopi img{
    width: 700px;
    padding: 0 25px;
}
.svg--shopi{
    height: 280px;
}


.icons-container--shopi{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 35px;
}
.icon-container--shopi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-container--shopi span{
    font-weight: 300;
    font-size: medium;
}
.icon-container--shopi img{
    width: 80px;
}


@keyframes animatedBackground{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@media (max-width: 1024px){
    .section--shopi{
        width: 100%;
        height: auto;
      
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;
    
    }
}

@media (max-width: 880px){
    
    .img-container--shopi img{
        width: 380px;  
    }
    
    .svg--shopi{
        height: 180px;
    }
    .svg-ir--shopi{
        height: 280px;
    }

    .icons-container--shopi{
        gap: 25px;
    }

    .icon-container--shopi img{
        width: 45px;
        margin-top: 12px;
    }
}