.project-container--shopi{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-image: linear-gradient(135deg
    ,#A0D2EB, #E6EAF3, #D0BDF4, #8559B1);
    background-size: 500%;
    animation: animatedBackground 10s infinite;
}

.section--shopi{
    width: 100%;
    height: 800px;
  
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    margin: 25px 0;
}


.both h1{
    font-weight: 700;
    font-size: 45px;
    margin-top: 25px; 
}
.both{
    display: grid;
    place-items: center;
    padding: 25px 10px;
}


.right-container--shopi h2{
    font-weight: 500;
    font-size: 35px;
    padding: 0 25px;
    text-align: center;
}
#svg-ir{
    height: 400px;
    padding: 0;
}

.left-container--shopi{
    text-align: center;
}
.left-container--shopi h2{
    font-weight: 500;
    font-size: 35px;
}
.left-container--shopi p{
    font-weight: 300;
    font-size: 25px;
    padding: 0 25px;

}



.img-container--shopi{
    display: grid;
    place-items: center;
    justify-content: center;
}
.img-container--shopi img{
    width: 700px;
    padding: 0 25px;
}
#svg{
    height: 280px;
}


.icons-container--shopi{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 35px;
}
.icon-container--shopi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-container--shopi span{
    font-weight: 300;
    font-size: medium;
}
.icon-container--shopi img{
    width: 80px;
}


@keyframes animatedBackground{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}